#
#   Author: Rohith (gambol99@gmail.com)
#   Date: 2015-01-26 11:25:08 +0000 (Mon, 26 Jan 2015)
#
#  vim:ts=2:sw=2:et
#
[Unit]
Description=Chronos Job Scheduler
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
Restart=on-failure
RestartSec=5
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill chronos
ExecStartPre=-/usr/bin/docker rm chronos
ExecStartPre=/usr/bin/docker pull mesosphere/chronos
ExecStart=/usr/bin/bash -c "/usr/bin/docker run \
  --name chronos \
  -e NAME=chronos \
  -e ENVIRONMENT=prod \
  mesosphere/chronos \
  /usr/local/bin/chronos \
  --http_port 8081 \
  --master=zk://`etcdctl get /bootstrap/mesos/zookeeper`:2181/mesos"


ExecStop=/usr/bin/docker stop chronos
ExecStop=/usr/bin/docker rm chronos

[Install]
WantedBy=multi-user.target
