[Unit]
Description=MesosMaster
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill mesos-master.%i
ExecStartPre=-/usr/bin/docker rm mesos-master.%i
ExecStartPre=/usr/bin/docker pull mesosphere/mesos-master:0.20.1
ExecStart=/usr/bin/sh -c "/usr/bin/docker run \
    --name=mesos-master.%i \
    --privileged \
    --net=host \
    -e SERVICE_NAME=mesos-master \
    mesosphere/mesos-master:0.20.1 \
    --hostname=$(/usr/bin/ip -o -4 addr list eth0 | grep global | awk \'{print $4}\' | cut -d/ -f1) \
    --ip=$(/usr/bin/ip -o -4 addr list eth0 | grep global | awk \'{print $4}\' | cut -d/ -f1) \
    --zk=zk://`etcdctl get /bootstrap/mesos/zookeeper`:2181/mesos \
    --work_dir=/var/lib/mesos/master \
    --quorum=1"
ExecStop=/usr/bin/docker stop mesos-master.%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-Conflicts=mesos-master.*
