
#
#   Author: Rohith (gambol99@gmail.com)
#   Date: 2014-10-16 15:57:29 +0100 (Thu, 16 Oct 2014)
#
#  vim:ts=2:sw=2:et
#
[Unit]
Description=Docker Registrator
After=etcd.service
After=docker.service
Requires=etcd.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
Restart=on-failure
ExecStartPre=-/usr/bin/docker kill registrator
ExecStartPre=-/usr/bin/docker rm registrator
ExecStartPre=/usr/bin/docker pull gliderlabs/registrator:latest
ExecStart=/usr/bin/docker run \
--name registrator \
-v /var/run/docker.sock:/tmp/docker.sock \
gliderlabs/registrator:latest consul://${COREOS_PRIVATE_IPV4}:8500

ExecStop=/usr/bin/docker stop registrator

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
